body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(119, 119, 120);
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: yellow;
    background-color: rgb(67, 67, 68);
    margin: 32px 250px 16px 250px;
    padding: 15px 0px 16px 0px;
    border-radius: 20px;
    text-align: center;
}

#time {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin: 0px 0px 32px 0px;
}

.btn-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.btn {
    transform: translateY(0px);
    padding: 6px 42px 8px 42px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 32px;
    border-radius: 25px;
    border: 0px;
    color: #999999;
    background-color: rgb(67, 67, 68);
    margin: 0px auto;
    transition: all .2s ease-in-out;
}

#start-btn:hover {
    color: #e6e4e4;
    background-color: rgb(91, 91, 216);
}

#stop-btn:hover {
    color: #e6e4e4;
    background-color: rgb(216, 189, 91);
}

.btn:hover {
    transform: translateY(-10px);
    cursor: pointer;
    color: rgb(67, 67, 68);
    background-color: #999999;
}

p {
font-size: 60px
}
.btn:disabled{
    cursor: not-allowed;
}